* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    color: white;
    line-height: 1.6;
}

section {
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero h2 {
    color: #38bdf8;
    margin: 10px 0;
}

.hero p {
    margin: 20px 0;
    color: #cbd5e1;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 12px 25px;
    text-decoration: none;
    margin: 10px;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.primary {
    background: #38bdf8;
    color: #0f172a;
}

.primary:hover {
    background: #0ea5e9;
}

.secondary {
    border: 1px solid #38bdf8;
    color: #38bdf8;
}

.secondary:hover {
    background: #38bdf8;
    color: #0f172a;
}

.projetos h2,
.contato h2 {
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 280px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    background: #334155;
}
